nav {
    color: green;
}
table, td, tr, thead, tbody {
    width: auto;
    height: auto;
    } 
    table {
        border-style: solid; 
        border-color: black;}
    h1{color: blue;
    
    }    

        

 
    
