@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
body{background: lightskyblue;font-family: 'Nerko One', cursive;}
h1 {color: mediumorchid;}
nav{background-color: mintcream; padding: 10px; width: 15%}
table{
      font-family: nerko one, cursive;
      border-collapse: collapse;
      width: 100%;   
}     
     td th {
         border: 1px solid teal;
         text-align:left;
         padding: 8px;
     }
     tr:nth-child(even){
         background-color:#dddddd;
    }
img {float: left}
ol{float: right; margin-right:50px; font-size:2.5em} 
